@media screen and (min-width: 1000px) {
    .header-img {
        display: block;  
    }
    .text-box {
        width: 60vw;    
        margin: 0 auto;  
    }
}

@media screen and (max-width: 999px) {
    .header-img {
        display: none;
    }

    .text-box {
    width: 90%;
    margin: 0 auto;
    }
}

header {
    display: grid;
    grid-template-columns: auto 1fr auto; 
    align-items: center;                  
    padding: 20px;
    gap: 30px;  
    background-color: #2a8960;                         
}


.menu {
    display: grid;
    gap: 8px;                             
}

.menu a {
    font-family: 'Gabarito', sans-serif;
    padding: 2px 4px;
    font-size: 1em;
    text-decoration: none;
    color: rgb(18, 47, 26);
}

.menu a:hover {                   
    border-radius: 4px;
    background-color: rgb(142, 223, 164); 
}

.header-text {
    text-align: center;
    max-width: 800px;
    color: white;
}

.header-text h1 {
    font-family: 'Gabarito', sans-serif;
    margin: 0;
    font-size: 2em;
    font-style: italic;
}

.header-text h3 {
    font-family: 'Gabarito', sans-serif;
    margin: 5px 0 0;
    font-size: 1.1em;
}

.header-img {
    height: 100px;
    width: auto;
}

body{
    background-color: #667681;
}

#content h3 {
    font-family: Gabarito; sans-serif;
    text-align: center;
    color: #afd6e9;
}

p {
    font-family: Gabarito; sans-serif;
    text-align: center;
    color: rgb(18, 47, 26);
}

.logos ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 120px));
    justify-content: center;  
    justify-items: center;    
    align-items: center;
    gap: 10px;         
    list-style: none;
    padding: 0;
    margin: 15px 0;
}

.logos img {
    width: 4em;
    height: auto;
}

#cg {
    text-align: center;
}
#cg img {
    width: 8em;
}

.Thumbnails img {
    width: 15em;
}

.Thumbnails ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 750px));
    justify-content: center;  
    justify-items: center;    
    align-items: center;
    gap: 10px;         
    list-style: none;
    padding: 0;
    margin: 15px 0;
}

.fit img {
    width: 100vw;      
    height: 100vh;     
    object-fit: contain;  
    object-position: center center;  
    display: block; 
    background-color: #4c6470; 
}

a {
    color: rgb(142, 223, 164);
    text-decoration: none;
}

.social img {
    height: 2em;
}
